@model MTG_MVC_OMG.Models.Player

<form method="post" asp-action="Create">

    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group-row">
            <h2 class="text-info pb-3">Add Player</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PreferredColorId"></label>

                    </div>
                    <div class="col-8">
                        <select asp-for="PreferredColorId" class="form-control" asp-items="@ViewBag.Colors">
                        </select>
                        <span asp-validation-for="PreferredColorId" class="text-danger"></span>
                    </div>


                </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PreferredFormatId"></label>

                </div>
                <div class="col-8">
                    <select asp-for="PreferredFormatId" class="form-control" asp-items="@ViewBag.Formats">
                    </select>
                    <span asp-validation-for="PreferredFormatId" class="text-danger"></span>
                </div>
            </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>

<!-- client side validation using the built-in scripts in the Shared folder -->
<!-- this prevents a round-trip to the server and does the validations client-side instead -->
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
     }
}
