@{
    ViewData["Title"] = "Home Page";
}

            <div class="d-flex justify-content-center">
                <h1>Welcome!</h1>
            </div>
            <br /><br />
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="p-2 bd-highlight">MTG MVC OMG is a place to store <a href="https://magic.wizards.com/en/game-info/gameplay/rules-and-formats/rules?source=MX_Nav202"> Magic: The Gathering</a> preferences for you and your friends.</div>
                <div class="p-2 bd-highlight">You can add players,  store their preferred game format, as well as their preferred color to play with.</div>
                <div class="p-2 bd-highlight">Give it a try!</div>
            </div>
